@media (max-width: 1180px) {
    .second-container {
        display: none;
    }
    .box {
        width: 50vw;
        height: calc(50vw + 100px);
    }
    .box:nth-child(1) {
        margin-top: 20%;
    }
    .box:nth-child(3) {
        margin-bottom: 20%;
    }
}

@media (min-width: 1500px) {
    .box {
        width: 20vw;
        height: 30vw;
    }
}

@media (min-width: 1850px) {
    .box {
        width: 20vw;
        height: 22vw;
    }
}

@media (min-width: 2050px) {
    .box {
        width: 20vw;
        height: 22vw;
    }
}

@media (min-width: 2550px) {
    .box {
        width: 20vw;
        height: 22vw;
    }
}

@media (min-width: 3050px) {
    .box {
        width: 20vw;
        height: 22vw;
    }
}

@media (max-width: 800px) {
    .introduction-text > h1 {
        font-size: 130px;
    }
    .introduction-text > h3 {
        font-size: x-large;
    }
}

@media (max-width: 620px) {
    .introduction-text > h1 {
        font-size: 110px;
    }
    .introduction-text > h3 {
        font-size: large;
    }
}