body {
    margin: 0;
    background-color: white;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 0.3vw;
}

::-webkit-scrollbar-thumb {
    background: #364F6B;
}

.first {
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: white;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 1000;
}

li {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

a {
    font-family: sans-serif;
    text-decoration: none;
    font-size: xx-large;
    font-weight: 600;
    text-transform: capitalize;
    color: #364F6B;
    margin: 15px 50px;
}

.home {
    color: #FFB6B9;
}

.introduction-text {
    width: 35vw;
}

.introduction-text > h3 {
    font-family: sans-serif;
    color: #364F6B;
    font-size: x-large;
    margin: 0;
}

.introduction-text > h1 {
    font-family: sans-serif;
    color: #61C0BF;
    font-size: 100px;
    font-weight: bold;
    margin: 0;
    transform: translateX(-1.5%);
}

.introduction-img {
    background-color: #FFB6B9;
    width: 30%;
    height: 40%;
    border-radius: 20px;
}

.second {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    z-index: 0;
    background-color: white;
    box-shadow: 0px 0.5em 0.5em rgba(132, 18, 75, 0.262);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.second-container {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 5;
}

.box {
    width: 300px;
    height: 450px;
    background-color: white;
    margin: 5% 2.5% 5% 2.5%;
    border-radius: 0.5rem;
    box-shadow: 1px 2px 0.5em rgb(173, 173, 173);
    display: grid;
    grid-template-rows: 50% 50%;
}

.box > .img {
    width: 100%;
    height: 100%;
    background-color: #FFB6B9;
    justify-self: center;
    align-self: center;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    transition: 0.3s ease;
    cursor: pointer;
}

.box > .img:hover {
    width: 110%;
    height: 110%;
    border-radius: inherit;
    box-shadow: 1px 1px 0.5em rgb(132, 18, 75);
    background-color: #FFB6B9;
}

.box > .text {
    width: 80%;
    height: 80%;
    justify-self: center;                                
    align-self: flex-start;                                                                                                                          ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box > .text > h1 {
    font-family: sans-serif;
    font-size: x-large;
    margin: 10% 0 5% 0;
}

.box > .text > p {
    font-family: sans-serif;
    font-size: medium;
    margin: 0 0 10% 0;
    text-align: center;
}

.third {
    position: relative;
    transform-style: preserve-3d;
    height: 70vh;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .third-container {
    width: 70%;
    height: 500px;
    border-radius: 0.5em;
    background: linear-gradient(#f9c6c8 , #f9e7df);
    overflow: hidden;
    box-shadow: 1px 2px 0.5em rgb(173, 173, 173);
    transform: translateY(30%);
}

.third-container > .img > img {
    width: 140%;
    transform: translate(-13.5%, -25%);
} */

.third-container {
    position: absolute;
    inset: 0;
    transform: translateZ(-300px) scale(2);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#ffdedf, #FFB6B9);
    box-shadow: 1px 2px 0.5em rgb(173, 173, 173);
    overflow: hidden;
}

.third-container > .img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: animateup 50s infinite alternate ease;
}

.third-container > .img:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-70%);
    animation: animatedown 50s infinite alternate ease;
}

.third-container > .img:nth-child(4) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-70%);
    animation: animatedown 50s infinite alternate ease;
}

.third-container > .img > img {
    width: 85%;
    margin: 5% 5%;
    filter: drop-shadow(7px 5px 0.4em #c05256b3);
}

@keyframes animateup {
    100%{
        transform: translateY(-70%);
    }
}

@keyframes animatedown {
    100%{
        transform: translateY(0%);
    }
}

.wrapper {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
}

.fourth {
    width: 100vw;
    height: 100vh;
    background-color: white;
    box-shadow: 0px -0.5em 0.5em rgba(132, 18, 75, 0.262);
    z-index: 0;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}