body {
    margin: 0;
    background-color: white;
    height: 300vh;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 0.3vw;
}

::-webkit-scrollbar-thumb {
    background: #364F6B;
}

.first {
    width: 100vw;
    height: 90vh;
    left: 0;
    right: 0;
    top: 0;
    abackground-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 1000;
}

li {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

a {
    font-family: sans-serif;
    text-decoration: none;
    font-size: xx-large;
    font-weight: 600;
    text-transform: capitalize;
    color: #364F6B;
    margin: 15px 50px;
}

.home {
    color: #FC5185;
}

.introduction-text {
    width: 35vw;
}

.introduction-text > h3 {
    font-family: sans-serif;
    color: #364F6B;
    font-size: x-large;
    margin: 0;
}

.introduction-text > h1 {
    font-family: sans-serif;
    color: #3FC1C9;
    font-size: 100px;
    font-weight: bold;
    margin: 0;
    transform: translateX(-1.5%);
}

.introduction-img {
    background-color: #FC5185;
    width: 30%;
    height: 40%;
    border-radius: 20px;
}

.second {
    abackground-color: antiquewhite;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.second-container {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box {
    width: 15vw;
    height: 40vh;
    background-color: white;
    margin: 10% 2.5% 10% 2.5%;
    border-radius: 0.5rem;
    box-shadow: 1px 2px 0.5em rgb(173, 173, 173);
    display: grid;
    grid-template-rows: 50% 50%;
}

.img {
    width: 100%;
    height: 100%;
    background-color: #FC5185;
    justify-self: center;
    align-self: center;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    transition: 0.3s ease;
    cursor: pointer;
}

.img:hover {
    width: 110%;
    height: 110%;
    border-radius: inherit;
    box-shadow: 1px 1px 0.5em rgb(132, 18, 75);
    background-color: #FC5185;
}

.box > .text {
    width: 80%;
    height: 80%;
    justify-self: center;                                
    align-self: flex-start;                                                                                                                          ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box > .text > h1 {
    font-family: sans-serif;
    font-size: x-large;
    margin: 10% 0 5% 0;
}

.box > .text > p {
    font-family: sans-serif;
    font-size: medium;
    margin: 0;
    text-align: center;
}