body {
    margin: 0;
    background-color: white;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 0.3vw;
}

::-webkit-scrollbar-thumb {
    background: #364F6B;
}

.first {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: left;
    z-index: 1;
    background: linear-gradient(to bottom right, rgba(178, 232, 247, 0.95), rgba(177, 167, 244, 0.369));
    backdrop-filter: blur(1em);
    box-shadow: 0px 25px 1.5em rgba(120, 67, 94, 0.6);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    position: relative;
    transform-style: preserve-3d;
}

.introduction-text {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    position: absolute;
}

.introduction-text > h3 {
    font-family: sans-serif;
    color: #364F6B;
    font-size: xx-large;
    margin: 0;
}

.introduction-text > h1 {
    font-family: sans-serif;
    color: #61C0BF;
    text-shadow: 3px 3px 3px #364F6B;
    font-size: 150px;
    font-weight: bold;
    margin: 0;
    transform: translateX(-1.5%);
}

.introduction-img {
    background-color: #FFB6B9;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin-bottom: 5%;
}

.second {
    position: relative;
    transform-style: preserve-3d;
    /* height: 100vh; */
    width: 100vw;
    min-height: 100vh;
    z-index: -1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box {
    width: 300px;
    height: 450px;
    background: linear-gradient(to top right, rgba(193, 225, 234, 0.85), rgba(212, 212, 212, 0.5));
    border-radius: 0.5rem;
    box-shadow: 0px 0px 0.7em #364f6bdd;
    display: grid;
    grid-template-rows: 50% 50%;
    backdrop-filter: blur(0.7rem);
    transition: 0.1s;
}

.box > .img {
    width: 90%;
    height: 90%;
    background-color: #61C0BF;
    justify-self: center;
    align-self: center;
    border-radius: inherit;
    transition: 0.3s ease;
    cursor: pointer;
}

.box > .img:hover {
    width: 110%;
    height: 110%;
    border-radius: inherit;
    box-shadow: 1px 1px 0.5em #364F6B;
}

.box > .text {
    width: 80%;
    height: 80%;
    justify-self: center;                                
    align-self: flex-start;                                                                                                                          ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box > .text > h1 {
    font-family: sans-serif;
    font-size: x-large;
    margin: 10% 0 5% 0;
}

.box > .text > p {
    font-family: sans-serif;
    font-size: medium;
    margin: 0 0 10% 0;
    text-align: center;
}

.second-container {
    position: absolute;
    inset: 0;
    transform: translateZ(-600px) scale(3) translateY(-15%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 130%;
    background: linear-gradient(#fcc4c4, #d9b5b6);
    box-shadow: 1px 2px 0.5em rgb(248, 234, 234);
    overflow: hidden;
}

.second-container > .img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    animation: animateup 40s infinite alternate;
}

.second-container > .img:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-70%);
    animation: animatedown 40s infinite alternate;
}

.second-container > .img:nth-child(4) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-70%);
    animation: animatedown 40s infinite alternate;
}

.second-container > .img > img {
    width: 85%;
    margin: 5% 5%;
    filter: drop-shadow(7px 5px 0.4em #c05256b3);
}

@keyframes animateup {
    100%{
        transform: translateY(-50%);
    }
}

@keyframes animatedown {
    100%{
        transform: translateY(0%);
    }
}

.wrapper {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
}

.third {
    width: 100vw;
    height: 100vh;
    background-color: white;
    box-shadow: 0px -0.5em 0.5em rgba(132, 18, 75, 0.262);
    z-index: 0;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}